@using Bazaar.Models

@{
    var cart = (Cart) Session["Cart"];

    int totalPrice = 0;
    if (cart != null)
    {
        totalPrice = (int)cart.ComputeTotalValue();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='https://fonts.googleapis.com/css?family=Lekton|Lobster' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/style")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark fixed-top">
        <a class="navbar-brand" href="@Url.RouteUrl(new { area ="Admin",controller ="Home",action="Index"})">bazar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">


            <ul class="navbar-nav ">

                <li class="nav-item">
                    <a class="nav-item nav-link" href="@Url.Action("Index", "Home")">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="@Url.Action("Index", "Catalog")">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="@Url.Action("Index", "Faq")">Поддержка</a>
                </li>
         


            </ul>

            <div class="pop-up-label">
                корзина
                <i class="fas fa-shopping-cart"></i>
                <sup id="count-cart-item">
                    @if (cart != null)
                    {
                        @cart.Lines.Count()
                    }
                </sup>
                <div class="pop-up-block">
                    <div id="content" class="pop-up-content">

                    </div>
                </div>
            </div>
            
            
           
        </div>
        
        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
            </div>
        </div>
        

        @Html.Partial("_LoginPartial")


    </nav>
    @RenderBody()
    <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            $(".pop-up-label").on("click", function (source) {

                $.ajax({
                    url: '/Cart/GetCartItems/',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        $('#content').html(data);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });

                var label = $(this);
                var block = $(this).children('.pop-up-block');
 
                if (!block.is(source.target)) {
                    block.slideToggle(function() {
                        if (block.is(":visible")) {
                            $(document).bind('mouseup.hidePopUp', function(e) {
                                if (!block.is(e.target) /*если клик не по блоку*/
                                    && block.has(e.target).length === 0) { /*и не по его потомкам*/
                                    $(document).unbind('mouseup.hidePopUp');
                                    if (!label.is(e.target)) block.slideToggle();
                                }
                            });
                        }
                    });
                }
            });


        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
