@model Bazaar.Domain.ViewModel.GameFormViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section class="content">

   

</section>


<div class="container product-detail">
    <div class="product-title">
        @Model.Name
    </div>

    <div class="row">
            <div class="col-md-7 col-sm-12">
                
                <div class="">

                    <div id="thumbGallery"
                         class="thumbGallery"
                         data-thumbGallery="true"
                         data-nav_effect="slide_horizontal"
                         data-nav_delay="1"
                         data-nav_timing="500"
                         data-nav_delay_inverse="1"
                         data-nav_pagination="6"
                         data-gallery_effect="slide_horizontal"
                         data-gallery_fullscreen_w="70%"
                         data-gallery_fullscreen_h="70%"
                         data-gallery_timing="1000"
                         data-full_inline="true"
                         data-full_inline_height="400"
                         data-gallery_cover="true"
                         data-thumb_ratio=4/3
                         data-thumb_fit=false>

                        <img src="../Content/img/LR/01.jpg" data-highres="../Content/img/HR/01.jpg" data-caption="Parturient Bibendum Malesuada Etiam" />
                        <img src="../Content/img/LR/02.jpg" data-highres="../Content/img/HR/02.jpg" />
                        <img src="../Content/img/LR/03.jpg" data-highres="../Content/img/HR/03.jpg" data-caption="Adipiscing Inceptos Ornare Cursus" />
                        <img src="../Content/img/LR/04.jpg" data-highres="../Content/img/HR/04.jpg" data-caption="Etiam Purus Sollicitudin Fusce" />
                        <img src="../Content/img/LR/05.jpg" data-highres="../Content/img/HR/05.jpg" data-caption="Parturient Bibendum Malesuada Etiam" />
                        <img src="../Content/img/LR/06.jpg" data-highres="../Content/img/HR/06.jpg" data-caption="Magna Pharetra Inceptos" />
                        <img src="../Content/img/LR/07.jpg" data-highres="../Content/img/HR/07.jpg" data-caption="Lorem ipsum dolor sit amet, consectetur adipiscing elit" />
                        <img src="../Content/img/LR/08.jpg" data-highres="../Content/img/HR/08.jpg" data-caption="Venenatis Purus Parturient" />
                        <img src="../Content/img/LR/09.jpg" data-highres="../Content/img/HR/09.jpg" data-caption="Ipsum Pharetra Cras Elit" />
                        <img src="../Content/img/LR/10.jpg" data-highres="../Content/img/HR/10.jpg" data-caption="Cras Mollis Tortor Bibendum" />
                        <img src="../Content/img/LR/11.jpg" data-highres="../Content/img/HR/11.jpg" data-caption="Venenatis Sem Commodo Condimentum" />
                        <img src="../Content/img/LR/12.jpg" data-highres="../Content/img/HR/12.jpg" data-caption="Condimentum Magna Sollicitudin" />
                        <img src="../Content/img/LR/13.jpg" data-highres="../Content/img/HR/13.jpg" data-caption="Vestibulum Mollis Adipiscing Cursus Euismod" />
                        <img src="../Content/img/LR/14.jpg" data-highres="../Content/img/HR/14.jpg" data-caption="Egestas Vulputate Fusce Mattis" />
                        <img src="../Content/img/LR/15.jpg" data-highres="../Content/img/HR/15.jpg" data-caption="Pellentesque Etiam Vestibulum" />
                        <img src="../Content/img/LR/16.jpg" data-highres="../Content/img/HR/16.jpg" data-caption="Mollis Purus Malesuada" />
                        <img src="../Content/img/LR/17.jpg" data-highres="../Content/img/HR/17.jpg" data-caption="Magna Nullam Sollicitudin Tortor" />
                        <img src="../Content/img/LR/18.jpg" data-highres="../Content/img/HR/18.jpg" data-caption="Cursus Justo Ridiculus Venenatis" />


                    </div>

                </div>

               

                <!--
    <iframe width="100%" height="100%" src="@Model.MediaResources.VideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    -->
            </div>
            <div class="col-5">
                <div class="product-specification">
                    <div class="buy-button">

                    </div>
                    
                    <div class="description">
                        <div class="product-info">
                            <ul class="product-info-list">
                                <li class="product__info-item">
                                    <span class="product-info-key">Издатель: </span>
                                    <span class="product-info-value">@Model.Publisher</span>
                                </li>
                                <li class="product__info-item">
                                    <span class="product-info-key">Разработчик: </span>
                                    <span class="product-info-value">@Model.Developer</span>
                                </li>
                                <li class="product__info-item">
                                    <span class="product-info-key">Язык: </span>
                                    <span class="product-info-value">@Model.Language</span>
                                </li>
                                <li class="product__info-item">
                                    <span class="product-info-key">Дата выхода: </span>
                                    <span class="product-info-value">@Model.ReleaseDate.ToString("D")</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    
    <div class="row">
        <div class="col-md-7" >
            <div class="about"></div>
        </div>

    </div>

</div>

<!--<img class="main-poster" src="@Model.MediaResources.PreviewImagePath" alt="" /> -->
@section Scripts {
    
    
    @Scripts.Render("~/scripts/jquery.mb.gallery.min.js")
    <script>
        var myGallery = jQuery( "#thumbGallery" ).mbGallery();
    </script>
}
