@model Bazaar.Domain.ViewModel.GameFormViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

       AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "count-cart-item"
    };
}





<section class="content">

   

</section>


<div class="container product-detail">
    
 




    <div class="product-title">
        @Model.Name
    </div>


    <div class="row">


        <div class="col-md-12 col-lg-7">


            <div id="thumbGallery"
                 class="thumbGallery"
                 data-thumbGallery="true"
                 data-nav_effect="slide_horizontal"
                 data-nav_delay="1"
                 data-nav_timing="500"
                 data-nav_delay_inverse="1"
                 data-nav_pagination="6"
                 data-gallery_effect="slide_horizontal"
                 data-gallery_fullscreen_w="70%"
                 data-gallery_fullscreen_h="70%"
                 data-gallery_timing="1000"
                 data-full_inline="true"
                 data-full_inline_height="400"
                 data-gallery_cover="true"
                 data-thumb_ratio=4/3
                 data-thumb_fit=false>

                @{
                    foreach (var img in Model.GalleryImages)
                    {
                        <img src="../Content/img/gallery/@Model.Slug/LR/@img" data-highres="../Content/img/gallery/@Model.Slug/HR/@img" data-caption=""/>
                    }

                }
            </div>

            <!--
            <iframe width="100%" height="100%" src="@Model.MediaResources.VideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            -->
        </div>
        <div class="col-md-12 col-lg-5">
            <div class="product-specification">
                <div class="inner-content">

                    <div class="description">

                        
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 d-flex justify-content-between">
                                    <div class="discount align-self-center">
                                        - @(100 - (Model.FinalPrice * 100 / Model.OriginalPrice)) %
                                    </div>
                                    <div class=" fin-price align-self-center"> @Model.FinalPrice 
                                        <i class="fas fa-ruble-sign"></i>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="">
                                        @Ajax.RouteLink("В корзину", new { controller = "Cart", action = "AddToCart", id = Model.Id }, ajaxOptions, new { @class = "buy-button" })
                                    </div>

                                </div>
                            </div>

                       

                        <div class="detail-titel">
                            <div class="title-underline-text">
                                Детали игры
                            </div>
                        </div>


                        <div class="detail-item">
                            <div class="row p-2">

                                <div class="col-xl-5 col-lg-12 p-0">
                                    Жанр :
                                </div>
                                <div class="col-xl-7 col-lg-12 p-0">
                                    @{foreach (var ganre in Model.Genres)
                                      {<a href="#">@ganre.Name </a>}
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="detail-item">
                            <div class="row p-2">
                                <div class="col-xl-5 col-lg-12 p-0">
                                    Издатель:
                                </div>
                                <div class="col-xl-7 col-lg-12 p-0">
                                    @Model.Publisher
                                </div>
                            </div>
                        </div>

                        <div class="detail-item">

                            <div class="row p-2">
                                <div class="col-xl-5 col-lg-12 p-0">
                                    Разработчик:
                                </div>
                                <div class="col-xl-7 col-lg-12 p-0">
                                    @Model.Developer
                                </div>
                            </div>
                        </div>

                        <div class="detail-item">
                            <div class="row p-2">
                                <div class="col-xl-5 col-lg-12 p-0">
                                    Дата выхода:
                                </div>
                                <div class="col-xl-7 col-lg-12 p-0">
                                    @Model.ReleaseDate.ToString("D")
                                </div>
                            </div>

                        </div>

                        <div class="detail-item">
                            <div class="row p-2">
                                <div class="col-xl-5 col-lg-12 p-0">
                                    Наличие:
                                </div>
                                <div class="col-xl-7 col-lg-12 p-0">
                                    много
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <ul class="col nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#about">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Системные требования</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Активация</a>
            </li>
        </ul>
    </div>

</div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="about" class="container tab-pane active tabs-area"><br>
            <h3>Описание</h3>
            @Html.Raw(Model.Description)
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <h3>Минимальные системные требования</h3>

                <div class="row sys-req-item">
                    <div class="col-md-4">ОС:</div>
                    <div class="col-md-8">@Model.SystemRequirements.OperatingSystem</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Процессор:</div>
                    <div class="col-md-8">@Model.SystemRequirements.Processor</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Оперативная память:</div>
                    <div class="col-md-8">@Model.SystemRequirements.RAM</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Видеокарта:</div>
                    <div class="col-md-8">@Model.SystemRequirements.VideoCard</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Жесткий диск:</div>
                    <div class="col-md-8">@Model.SystemRequirements.HDD</div>
                </div>

        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>



<!--<img class="main-poster" src="@Model.MediaResources.PreviewImagePath" alt="" /> -->
@section Scripts {
    
    
    @Scripts.Render("~/scripts/jquery.mb.gallery.min.js")
    <script>
        var myGallery = jQuery("#thumbGallery").mbGallery();
        $('#myTab a').on('click',
            function(e) {
                e.preventDefault()
                $(this).tab('show')
            });


        $(function () {  
            $(".dropdown").click(function () {  
                
                $.ajax({  
                    type: "GET",  
                    url: '@Url.RouteUrl(new { controller ="Cart", action = "GetCartItems"})',
                    success: function () {  
                        // alert("Data has been added successfully.");  
                     
                    },  
                    error: function () {  
                        alert("Error while inserting data");  
                    }  
                });  
                return false;  
            });  
        });  



    </script>
}
