@model Bazaar.Domain.ViewModel.GameFormViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section class="content">

   

</section>


<div class="container product-detail">
    <div class="product-title">
        @Model.Name
    </div>



    <div class="row">
        <div class="col-md-12 col-lg-7">

            <div class="">

                <div id="thumbGallery"
                     class="thumbGallery"
                     data-thumbGallery="true"
                     data-nav_effect="slide_horizontal"
                     data-nav_delay="1"
                     data-nav_timing="500"
                     data-nav_delay_inverse="1"
                     data-nav_pagination="6"
                     data-gallery_effect="slide_horizontal"
                     data-gallery_fullscreen_w="70%"
                     data-gallery_fullscreen_h="70%"
                     data-gallery_timing="1000"
                     data-full_inline="true"
                     data-full_inline_height="400"
                     data-gallery_cover="true"
                     data-thumb_ratio=4/3
                     data-thumb_fit=false>
                    
                    @{
                        foreach (var img in Model.GalleryImages)
                        {
                              <img src="../Content/img/gallery/@Model.Slug/LR/@img" data-highres="../Content/img/gallery/@Model.Slug/HR/@img" data-caption="" />
                        }

                    }



                    


                </div>

            </div>



            <!--
            <iframe width="100%" height="100%" src="@Model.MediaResources.VideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            -->
        </div>
        <div class="col-md-12 col-lg-5">
            <div class="product-specification">
                <div class="buy-button">

                </div>

                <div class="description">
                    <div class="product-info">
                        <span class="product-info-key">Жанр: </span>
                        @{foreach (var ganre in Model.Genres) 
                          {<a href="#" >@ganre.Name </a>}
                        }

                        <ul class="product-info-list">

                            <li class="product__info-item">

                            </li>

                            <li class="product__info-item">
                                <span class="product-info-key">Издатель: </span>
                                <span class="product-info-value">@Model.Publisher</span>
                            </li>
                            <li class="product__info-item">
                                <span class="product-info-key">Разработчик: </span>
                                <span class="product-info-value">@Model.Developer</span>
                            </li>
                            <li class="product__info-item">
                                <span class="product-info-key">Язык: </span>
                                <span class="product-info-value">@Model.Language</span>
                            </li>
                            <li class="product__info-item">
                                <span class="product-info-key">Дата выхода: </span>
                                <span class="product-info-value">@Model.ReleaseDate.ToString("D")</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#about">Описание</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Системные требования</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Активация</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="about" class="container tab-pane active"><br>
            <h3>Описание</h3>
            <p>@Model.Description</p>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <h3>Минимальные системные требования</h3>

                <div class="row sys-req-item">
                    <div class="col-md-4">ОС:</div>
                    <div class="col-md-8">@Model.SystemRequirements.OperatingSystem</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Процессор:</div>
                    <div class="col-md-8">@Model.SystemRequirements.Processor</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Оперативная память:</div>
                    <div class="col-md-8">@Model.SystemRequirements.RAM</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Видеокарта:</div>
                    <div class="col-md-8">@Model.SystemRequirements.VideoCard</div>
                </div>
                <div class="row sys-req-item">
                    <div class="col-md-4">Жесткий диск:</div>
                    <div class="col-md-8">@Model.SystemRequirements.HDD</div>
                </div>

        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>

</div>

<!--<img class="main-poster" src="@Model.MediaResources.PreviewImagePath" alt="" /> -->
@section Scripts {
    
    
    @Scripts.Render("~/scripts/jquery.mb.gallery.min.js")
    <script>
        var myGallery = jQuery("#thumbGallery").mbGallery();
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
}
