@model IEnumerable<Bazaar.Domain.Entities.Game>


@foreach (var item in Model)
{
    
    <a href=@Url.Action("Index","Game",new { slug = item.Slag }) class="item-link">
        <div class="product-card">

            <div class="product-card-img">
                 <img src="@item.MediaResources.MainImagePath" alt="@item.Name" /> 
            </div>
            <div class="product-card-content">

                @item.Name
                <div class="product-card-ganre">
                    <i class="fab fa-steam fa-2x">&nbsp&nbsp</i> 
                   @{
                       foreach (var ganre in item.Genres)
                       {
                        <div> @ganre.Name&nbsp</div>
                       }
                   }
                </div>

            </div>
            <div class="product-card-prace">
                <div class="product-card-original-price "> <del>@item.OriginalPrice</del></div><div class="product-card-discount">- @(100 - (item.FinalPrice * 100 / item.OriginalPrice)) %</div>
                <div class="product-card-final-price"> @item.FinalPrice <i class="fas fa-ruble-sign"></i></div>
            </div>
            
            

        </div>

    </a>

}
