@model IEnumerable<Bazaar.Domain.Entities.Game>


<div class="hidden" data-itemcount="@Model.Count()"></div>
@foreach (var item in Model)
{
    <a href=@Url.Action("Index","Game",new { slug = item.Slag }) class="item-link">
        <div class="product-card effect7">

            <div class="product-card-img">
                 <img src="@item.MediaResources.MainImagePath" alt="@item.Name" /> 
            </div>
            <div class="product-card-content">

                @item.Name
                <div class="product-card-ganre">
                    <i class="fab fa-steam fa-2x">&nbsp&nbsp</i> 
                   @{
                       foreach (var ganre in item.Genres)
                       {
                        <div> @ganre.Name&nbsp</div>
                       }
                   }
                </div>

            </div>
            <div class="product-card-prace">

                <div class="product-card-discount">
                    - @(100 - (item.FinalPrice * 100 / item.OriginalPrice)) %
                </div>
                
                <div class="product-card-final-price">
                    <del>@item.OriginalPrice</del>
                    <div class="f-price">@item.FinalPrice &#8381</div>
                </div>
              
            </div>
            
            

        </div>

    </a>

}
