@using System.Security.Policy
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/admin-css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="sidebar-container">
        <div class="sidebar-logo">
            <a href="@Url.RouteUrl(new { area ="",controller ="Home",action="Index"})">
                BAZAR
            </a>
        </div>
        <ul class="sidebar-navigation">
            <li class="sidebar-header">
                Админ-панель :
            </li>
           
            <li>
                <a href="@Url.Action("Index","Games")">
                    <i class="fas fa-gamepad"></i> Игры
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-users"></i> Пользователи

                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-chart-pie"></i> Статистика
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-sliders-h"></i> Слайдер
                </a>
            </li>

            <li>
                <a href="@Url.RouteUrl(new { area ="",controller ="Home",action="Index"})">
                    <i class="fa fa-home" aria-hidden="true"></i> Главная
                </a>
            </li>
            
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Admin part</p>
                </footer>
            </div>
          

        </div>
    </div>



    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

</body>
</html>