@model Bazaar.Domain.ViewModel.FaqPageViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="faq-header">
        Cлужба поддержки Bazar
    </div>
    
    <div class="bread">
        <a href="@Url.Action("Index","Home")">Главная </a> <span class="breadcrumb__divider" aria-hidden="true">›</span><a class="active-color" href="@Url.Action("Index","Catalog")">Cлужба поддержки</a>
    </div>

    <div class="faq-title">Популярные вопросы</div>

</div>

<div class="container">
    
    @Html.Partial("_FaqItem", Model.FaqItemViewModels)
</div>

<section class="">

    <div class="container ">

        @using (Html.BeginForm("SendMessage", "Faq", FormMethod.Post,new {@class= "contact-me effect7" }))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group col-sm-6 w-100">
                @Html.TextBoxFor(m => m.ContactForm.Name, new { placeholder = "Имя" })
                @Html.ValidationMessageFor(m => m.ContactForm.Name)
            </div>
            <div class="form-group col-sm-6">
                @Html.TextBoxFor(m => m.ContactForm.Email, new { placeholder = "Email", type = "email" })
                @Html.ValidationMessageFor(m => m.ContactForm.Email)
            </div>
            <div class="form-group col-sm-12">
                @Html.TextBoxFor(m => m.ContactForm.Subject, new { placeholder = "Тема" })
                @Html.ValidationMessageFor(m => m.ContactForm.Subject)
            </div>
            <div class="form-group col-sm-12">
                @Html.TextAreaFor(m => m.ContactForm.Message, new { placeholder = "Сообщение" })
                @Html.ValidationMessageFor(m => m.ContactForm.Message)
            </div>

            <div class="form-group col-sm-12">
                <button type="submit" class="btn ">Отправить</button>
            </div>

            Нажимая на кнопку "Отправить", Вы даете согласие на обработку персональных данных и соглашаетесь с Политикой конфиденциальности.

        </div>

        }
    </div>



</section>

@section scripts
{

    <script>
        $(document).ready(function () {
            $('.acc h3').click(function () {
                $(this).next('.content').slideToggle();
                $(this).parent().toggleClass('active');
                $(this).parent().siblings().children('.content').slideUp();
                $(this).parent().siblings().removeClass('active');
            });
        });
    </script>



}

