@model Bazaar.Domain.ViewModel.GameFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="jumbotron">
    <h1>Add new game</h1>
    <p>Just add new game...</p>
</div>

<table class="model-state">
    @foreach (var item in ViewContext.ViewData.ModelState) 
    {
        if (item.Value.Errors.Any())
        { 
            <tr>
                <td><b>@item.Key</b></td>
                <td>@((item.Value == null || item.Value.Value == null) ? "<null>" : item.Value.Value.RawValue)</td>
                <td>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</td>
            </tr>
        }
    }
</table>



@using (Html.BeginForm("Create", "Games", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control col" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col", @rows = "5" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OriginalPrice)
        @Html.TextBoxFor(m => m.OriginalPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OriginalPrice)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.FinalPrice)
        @Html.TextBoxFor(m => m.FinalPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FinalPrice)
    </div>


    <!-- Trigger the modal with a button -->


    <div class="modal" id="ganresModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Выберите жанр</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="list-group">

                        @foreach (var item in Model.Genres)
                        {
                            <a class="ganreitem list-group-item" value="@item.Id">@item.Name</a>
                        }

                    </ul>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="modesModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Выберите жанр</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="list-group">

                        @foreach (var item in Model.Modes)
                        {
                            <a class="modeitem list-group-item" value="@item.Id">@item.Name</a>
                        }

                    </ul>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="osModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Выберите жанр</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="list-group">

                        @foreach (var item in Model.Platforms)
                        {
                            <a class="ositem list-group-item" value="@item.Id">@item.Name</a>
                        }

                    </ul>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.Publisher)
        @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Publisher)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Developer)
        @Html.TextBoxFor(m => m.Developer, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Developer)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Language)
        @Html.TextBoxFor(m => m.Language, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Language)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:dd.mm.yy}", new { @class = "form-control datepicker" })
    </div>


    <div class="form-group">

        <button type="button" class="btn btn-primary btn-icon" data-toggle="modal" data-target="#ganresModal">
            <span class="icon"><i class="fas fa-plus"></i></span>Добавить жанры
        </button>
        <div class="ganrelist"></div>
    </div>

    <div class="form-group">

        <button type="button" class="btn btn-primary btn-icon" data-toggle="modal" data-target="#modesModal">
            <span class="icon"><i class="fas fa-plus"></i></span>Добавить режимы
        </button>
        <div class="modelist"></div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary btn-icon" data-toggle="modal" data-target="#osModal">
            <span class="icon"><i class="fas fa-plus"></i></span>Добавить ОС
        </button>
        <div class="oslist"></div>
    </div>


    <div class="form-group">
        <label>Постер :</label>
        <input type="file" name="poster" id="file" class="input-file">
    </div>

    <div class="form-group">
        <label>Скриншоты :</label>
        <input type='file' multiple id='fileUpload' name="screens" />
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>


}




@section scripts
{
    <script>
        $(document).ready(function () {

            $("input[name='ReleaseDate']").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                dateFormat: "dd.mm.yy",
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
            });



            $('html').on('click', '.ganreitem', function () {
                var id = $(this).attr("value");
                var name = $(this).text();
                $(".ganrelist").append("<div class='cont'><input readonly='readonly' class='form-control' type ='text' name = 'genres' value = '" + name + "' /> <span class='remove btn  btn-danger'><i class='fas fa-minus'></i></span></div>");

                $(this).remove();

            });

            $('html').on('click', '.modeitem', function () {
                var id = $(this).attr("value");
                var name = $(this).text();
                $(".modelist").append("<div class='cont'><input readonly='readonly' class='form-control' type ='text' name = 'mode' value = '" + name + "' /> <span class='remove btn  btn-danger'><i class='fas fa-minus'></i></span></div>");

                $(this).remove();

            });

            $('html').on('click', '.ositem', function () {
                var id = $(this).attr("value");
                var name = $(this).text();
                $(".oslist").append("<div class='cont'><input readonly='readonly' class='form-control' type ='text' name = 'os' value = '" + name + "' /> <span class='remove btn  btn-danger'><i class='fas fa-minus'></i></span></div>");

                $(this).remove();

            });

            $('html').on('click', '.remove', function () {
                $(this).parent().remove();
            });


            (function () {

                'use strict';

                $('.input-file').each(function () {
                    var $input = $(this),
                        $label = $input.next('.js-labelFile'),
                        labelVal = $label.html();

                    $input.on('change', function (element) {
                        var fileName = '';
                        if (element.target.value) fileName = element.target.value.split('\\').pop();
                        fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);
                    });
                });

            })();



        });
    </script>
}